body{
	padding-top: 100px;
	padding-bottom: 20px;
}

#about{
	text-align: center;
}

#about p{
	padding-top: 50px;
}

#skills{
	padding-top: 50px;
	text-align: center;
}

#languages{
	padding-top: 50px;
	text-align: center;
}

svg{
	width: 50%;
}

img{
	width: 64px;
}