body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
	background: url("1080.jpeg") center center;
	background-size: cover;
	padding: 240px inherit;
}

#overlap {
	position: relative;
	top: -100px;	
}

.words {
	padding-top:100px;
}
