body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;
}

#overlap {
	position: relative;
	top: -100px;	
}

.words {
	padding-top:100px;
}